<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpu.zyf.mapper.UserorderMapper" >
  <resultMap id="BaseResultMap" type="hpu.zyf.entity.Userorder" >
    <id column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="purchaseid" property="purchaseid" jdbcType="VARCHAR" />
    <result column="ordertime" property="ordertime" jdbcType="DATE" />
    <result column="ispay" property="ispay" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderid, userid, purchaseid, ordertime, ispay
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hpu.zyf.entity.UserorderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from userorder
    where orderid = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from userorder
    where orderid = #{orderid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="hpu.zyf.entity.UserorderExample" >
    delete from userorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hpu.zyf.entity.Userorder" >
    insert into userorder (orderid, userid, purchaseid, 
      ordertime, ispay)
    values (#{orderid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{purchaseid,jdbcType=VARCHAR}, 
      #{ordertime,jdbcType=DATE}, #{ispay,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="hpu.zyf.entity.Userorder" >
    insert into userorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="purchaseid != null" >
        purchaseid,
      </if>
      <if test="ordertime != null" >
        ordertime,
      </if>
      <if test="ispay != null" >
        ispay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="purchaseid != null" >
        #{purchaseid,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=DATE},
      </if>
      <if test="ispay != null" >
        #{ispay,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hpu.zyf.entity.UserorderExample" resultType="java.lang.Integer" >
    select count(*) from userorder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userorder
    <set >
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseid != null" >
        purchaseid = #{record.purchaseid,jdbcType=VARCHAR},
      </if>
      <if test="record.ordertime != null" >
        ordertime = #{record.ordertime,jdbcType=DATE},
      </if>
      <if test="record.ispay != null" >
        ispay = #{record.ispay,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userorder
    set orderid = #{record.orderid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      purchaseid = #{record.purchaseid,jdbcType=VARCHAR},
      ordertime = #{record.ordertime,jdbcType=DATE},
      ispay = #{record.ispay,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hpu.zyf.entity.Userorder" >
    update userorder
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="purchaseid != null" >
        purchaseid = #{purchaseid,jdbcType=VARCHAR},
      </if>
      <if test="ordertime != null" >
        ordertime = #{ordertime,jdbcType=DATE},
      </if>
      <if test="ispay != null" >
        ispay = #{ispay,jdbcType=BIT},
      </if>
    </set>
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="hpu.zyf.entity.Userorder" >
    update userorder
    set userid = #{userid,jdbcType=VARCHAR},
      purchaseid = #{purchaseid,jdbcType=VARCHAR},
      ordertime = #{ordertime,jdbcType=DATE},
      ispay = #{ispay,jdbcType=BIT}
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>