<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpu.zyf.mapper.PurchaseMapper" >
  <resultMap id="BaseResultMap" type="hpu.zyf.entity.Purchase" >
    <id column="purchaseid" property="purchaseid" jdbcType="VARCHAR" />
    <result column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="purchasetime" property="purchasetime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    purchaseid, orderid, purchasetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hpu.zyf.entity.PurchaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from purchase
    where purchaseid = #{purchaseid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from purchase
    where purchaseid = #{purchaseid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="hpu.zyf.entity.PurchaseExample" >
    delete from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hpu.zyf.entity.Purchase" >
    insert into purchase (purchaseid, orderid, purchasetime
      )
    values (#{purchaseid,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, #{purchasetime,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hpu.zyf.entity.Purchase" >
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchaseid != null" >
        purchaseid,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="purchasetime != null" >
        purchasetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchaseid != null" >
        #{purchaseid,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="purchasetime != null" >
        #{purchasetime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hpu.zyf.entity.PurchaseExample" resultType="java.lang.Integer" >
    select count(*) from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchase
    <set >
      <if test="record.purchaseid != null" >
        purchaseid = #{record.purchaseid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasetime != null" >
        purchasetime = #{record.purchasetime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchase
    set purchaseid = #{record.purchaseid,jdbcType=VARCHAR},
      orderid = #{record.orderid,jdbcType=VARCHAR},
      purchasetime = #{record.purchasetime,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hpu.zyf.entity.Purchase" >
    update purchase
    <set >
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="purchasetime != null" >
        purchasetime = #{purchasetime,jdbcType=CHAR},
      </if>
    </set>
    where purchaseid = #{purchaseid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="hpu.zyf.entity.Purchase" >
    update purchase
    set orderid = #{orderid,jdbcType=VARCHAR},
      purchasetime = #{purchasetime,jdbcType=CHAR}
    where purchaseid = #{purchaseid,jdbcType=VARCHAR}
  </update>
</mapper>